*{

margin:0;
padding:0;
box-sizing:border-box;

}

body{

font-family:Poppins,sans-serif;

background:#294936;

display:flex;

justify-content:center;

align-items:center;

height:100vh;

}

.login{

width:100%;

display:flex;

justify-content:center;

}

.login-box{

width:420px;

background:#fff;

padding:50px;

border-radius:25px;

text-align:center;

box-shadow:0 20px 40px rgba(0,0,0,.25);

}

.logo{

font-size:60px;

margin-bottom:20px;

}

.login-box h1{

font-family:'Playfair Display';

color:#294936;

margin-bottom:8px;

}

.login-box span{

color:#777;

display:block;

margin-bottom:35px;

}

.login-box input{

width:100%;

padding:16px;

margin-bottom:18px;

border-radius:12px;

border:1px solid #ddd;

font-size:15px;

}

.login-box input:focus{

outline:none;

border-color:#D4A017;

}

.login-box button{

width:100%;

padding:18px;

background:#294936;

color:#fff;

border:none;

border-radius:12px;

cursor:pointer;

font-size:16px;

transition:.3s;

}

.login-box button:hover{

background:#1D3224;

}

.login-box p{

margin-top:30px;

color:#999;

font-size:14px;

}
/*=========================================
PAINEL
=========================================*/

.painel{

display:flex;

min-height:100vh;

}

.sidebar{

width:260px;

background:#294936;

color:#fff;

padding:40px 25px;

}

.sidebar h2{

font-size:28px;

margin-bottom:40px;

}

.sidebar ul{

list-style:none;

}

.sidebar li{

padding:15px;

border-radius:10px;

margin-bottom:10px;

cursor:pointer;

transition:.3s;

}

.sidebar li:hover,
.sidebar .ativo{

background:#D4A017;

}

.conteudo{

flex:1;

padding:40px;

background:#F8F6F2;

}

.cards{

display:grid;

grid-template-columns:repeat(3,1fr);

gap:25px;

margin:40px 0;

}

.card{

background:#fff;

padding:30px;

border-radius:20px;

box-shadow:0 10px 30px rgba(0,0,0,.08);

}

.card h3{

color:#555;

margin-bottom:20px;

}

.card span{

font-size:42px;

font-weight:bold;

color:#294936;

}

.tabela{

background:#fff;

padding:30px;

border-radius:20px;

box-shadow:0 10px 30px rgba(0,0,0,.08);

}

.topo-tabela{

display:flex;

justify-content:space-between;

align-items:center;

margin-bottom:30px;

}

.topo-tabela button{

padding:15px 25px;

background:#294936;

color:#fff;

border:none;

border-radius:12px;

cursor:pointer;

}

table{

width:100%;

border-collapse:collapse;

}

th{

text-align:left;

padding:18px;

background:#F2F2F2;

}

td{

padding:18px;

border-bottom:1px solid #eee;

}

td button{

padding:8px 15px;

margin-right:10px;

border:none;

border-radius:8px;

cursor:pointer;

background:#294936;

color:#fff;

}
