/*=========================================
RESET
=========================================*/

*{

    margin:0;

    padding:0;

    box-sizing:border-box;

}

html{

    scroll-behavior:smooth;

}

body{

    font-family:'Poppins',sans-serif;

    background:#F7F6F2;

    color:#333;

}

/*=========================================
CONTAINER
=========================================*/

.container{

    width:90%;

    max-width:1100px;

    margin:auto;

}

/*=========================================
HEADER
=========================================*/

.header{

    background:#294936;

    padding:25px 0;

    color:#fff;

    box-shadow:0 5px 15px rgba(0,0,0,.08);

}

.logo{

    display:flex;

    align-items:center;

    gap:18px;

}

.logo h1{

    font-size:32px;

    font-weight:700;

}

.logo span{

    color:#d9d9d9;

    font-size:15px;

}

/*=========================================
CARDÁPIO
=========================================*/

.cardapio{

    padding:60px 0;

}

.titulo{

    text-align:center;

    margin-bottom:45px;

}

.titulo h2{

    font-size:38px;

    color:#294936;

    margin-bottom:10px;

}

.titulo p{

    color:#666;

}

/*=========================================
LISTA PRODUTOS
=========================================*/

.lista-produtos{

    display:flex;

    flex-direction:column;

    gap:20px;

}

/*=========================================
CARD PRODUTO
=========================================*/

.produto-card{

    background:#fff;

    border-radius:16px;

    padding:25px;

    box-shadow:0 8px 20px rgba(0,0,0,.08);

    transition:.3s;

}

.produto-card:hover{

    transform:translateY(-4px);

}

.produto-info{

    display:flex;

    justify-content:space-between;

    align-items:center;

    gap:20px;

}

.produto-info h3{

    font-size:22px;

    color:#294936;

}

.preco{

    font-size:18px;

    font-weight:700;

    color:#D4A017;

}

/*=========================================
BOTÕES
=========================================*/

.btn-escolher,

.btn-principal,

.btn-finalizar{

    background:#294936;

    color:#fff;

    border:none;

    padding:14px 28px;

    border-radius:10px;

    cursor:pointer;

    transition:.3s;

    font-size:15px;

    font-weight:600;

}

.btn-escolher:hover,

.btn-principal:hover,

.btn-finalizar:hover{

    background:#1D3224;

}
